header{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 6rem;
}
body{
    background-color: #E5E5E5;;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 18.75px;
}
main{
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.caja1, .caja2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cajaInterna{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 3.5rem;
    margin: 0px;
    left: 2rem;
}
h2{
    color: red;
    font-size: 24px;
    font-weight: 800;
    position: absolute;
}
h2 span{
    color: white;
}
ol{
    margin-right: 4rem;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.7rem;
}
.cajaInterna img{
    height: 9rem;
    align-self: flex-end;
}
footer{
    background-color: #222222;
    padding: 0.3rem 0rem;
    position: relative;
}
p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 2rem;
}
footer img{
    position: absolute;
    right: 3rem;
    top: 3rem;
}
nav{
    color: white;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
}
nav span{
    padding-right: 1rem;
}